@import '../../theme/screen-sizes.scss';

@media only screen and (max-width: $mobile-screeen-width) {

    .product-slider {
        .slider {

            .slick-prev,
            .slick-next {
                visibility: hidden;
            }
        }

        .product-step {
            .product {
                display: flex;
                padding: 20px 0px;
                width: calc(100vw - 40px);
                height: max-content;

                .left-box {
                    .buy-btn {
                        margin-top: 80%;
                    }
                }

                .right-box {
                    margin-top: 20%;
                    height: max-content;

                    .paint-img {
                        min-width: 360px;
                        left: 25vw;
                    }
                }
            }
        }
    }
}