@import '../../theme/screen-sizes.scss';

@media only screen and (max-width: $mobile-screeen-width) {

    .product-slider {
        .slider {

            .slick-prev,
            .slick-next {
                visibility: hidden;
            }
        }

        .product-step {
            .product {
                display: flex;
                padding: 20px 0px;
                width: calc(100vw - 40px);
                height: max-content;

                .left-box {

                    .name-1 {
                        font-size: 26px !important;
                    }

                    .name-2 {
                        font-size: 80px !important;
                    }

                    .buy-btn {
                        margin-top: 80%;
                    }
                }

                .right-box {
                    height: max-content;

                    .usd,
                    .cents,
                    .month {
                        font-size: 26px !important;
                    }

                    .price {
                        font-size: 80px !important;
                    }

                    .paint-img {
                        min-width: 440px;
                        left: 18vw;
                    }
                }
            }
        }
    }
}