@import '../../theme/screen-sizes.scss';

@media only screen and (max-width: ($mobile-screeen-width+200)) {

    .product-slider {
        .slider {

            .slick-prev,
            .slick-next {
                visibility: hidden;
            }
        }

        .product-step {
            padding: 0;

            .product {
                display: flex;
                padding: 20px 0px;
                width: calc(100vw - 40px);
                height: max-content;

                .left-box {
                    .buy-btn {
                        margin-top: 80%;
                    }
                }

                .right-box {
                    height: max-content;
                    margin-top: 60px;

                    .paint-img {
                        width: 100vw !important;
                        left: 18vw;
                    }
                }
            }
        }
    }
}