/* 'hidde' a element */
a {
    color: rgb(0, 0, 0);
}

.theme-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}