@import '../theme/colors.scss';
@import '../theme/fonts.scss';

/* 'hidde' a element */
a {
    color: rgb(0, 0, 0);
}

.theme-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.theme-title {
    font-size: $font_size_big;
    color: $text_dark;
    margin-top: 20px;
    margin-left: 20px;
}

.theme-button {
    min-width: 150px;
    height: 60px;
    border-radius: 8px;
    border-style: none;
    background-color: $secondary;
    color: $text_on_s;
    // font-weight: bolder;
    letter-spacing: .3vw;
    font-size: calc(6px + 1vw);
    cursor: pointer;
}